@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.text-primary {
    color: #FF900E;
}

.text-dark {
    color: #131313;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 20px 25px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
}

/* header styles */

/* navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    font-weight: 500;
    font-size: 1.3rem;
    margin-right: 2.5rem;
}

.nav-link {
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
/* .banner{
    text-align: center;
} */
.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner img {
    width: 100%; //changes max-width to width
    border-radius: 8px;
}

/* team section styles */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;

}

#quick-list {
    font-weight: 500;
}

/* features will enjoy styles */
.features{
    gap: 140px;
}

.features > div{
    width: 50%;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.feature-card{
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
     margin-top: 0;
    margin-bottom: 0;
}
.feature-image{
    width: 100%;
}
#feature-badge{
    padding: 40px 46px;
    margin-left: -100px;
    margin-top: -120px;
    font-weight: 500;
    font-size: 1.5rem;

}
#feature-btn-year{
    font-weight: 700;
    font-size: 4rem;
}

/* some fact styles */
.some-facts-section-desc{
    max-width: 540px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
    margin-top: 10px;
}

/* sponsors styles */
.sponsors-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}

/* navbar responsive */
@media screen and (max-width: 576px) {
    html {
        font-size: 14px; // changes no html to html in css
    }

    .navbar,
    .nav-links,
    .features,
    .teams {
        flex-direction: column;
    }

    .align-center {
        padding: 0 10px;
        margin: 0;
    }

    .banner-content {
        margin-left: 0;
        margin-right: 0;
    }

    .features > div{
        width: 100%;
    }
    #feature-badge{
        margin: 20px;
    }
    .feature-image img{
        width: 100%;
    }
    .team-img-container,
    .facts-container,
    .sponsors-companies{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .facts-container{
        margin-top: 40px;
    }

    .our-features{
        text-align: center;
        margin: 0 auto;
    }

}

/* for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    
body {
  
  border: 1px solid black;
}

    header{
        border: 1px solid transparent;
    }
    .navbar {
        width: 100%;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
        margin-left: 0;
    }
    .feature-image img{
        width: 100%;
    }
    .features{
        gap: 50px;
    }
    #feature-badge{
    padding: 20px 26px;
    margin-left: -50px;
    margin-top: -60px;
}
.#feature-badge{
    padding: 40px 46px;
    margin-left: -100px;
    margin-top: -120px;
    font-weight: 500;
    font-size: 1.5rem;

}
.#feature-badge{
    padding: 40px 46px;
    margin-left: -100px;
    margin-top: -120px;
    font-weight: 500;
    font-size: 1.5rem;

}
.facts-container, .sponsors-companies  {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
}
.sponsors-companies{
    gap: 40px;
}

}