
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.align-center{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-dark{
    color: #131313;
}
.text-gray{
    color: #424242;
}   

.text-light-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 20px 25px;
}

/* header styles */

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 50px ;
}
.nav-link{
    text-decoration: none;
}

/* banner styles */
.banner{
    text-align: center;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}

/* navbar responsive */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}